.doctor-list {
  padding: 20px;
}

.availability-card {
  height: 90px;
  margin: 3px;
  padding: 5px;
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 50px !important;
  border-color: #0072C6 !important;
}