* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    height: 100%;
}

main.page {
    height: 100%;
}

h1 {
    text-align: center;
}

.navLink {
    text-decoration: none;
    color: inherit;
    padding: 15px;
    transition: 0.3s;
    border: 1px solid transparent;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.navLink:hover {
    text-decoration-color: black;
}

.responsiveDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageDiv {
    background-color: #eef1ef;
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    height: 100%;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#mainSplash {
    width: 50%;
    padding-left: 40px;
    padding-top: 40px;
}

#mainSplash > h1 {
    font-size: 80px;
    font-weight: bold;
    padding: 20px;

}

#mainSplash > p {
    font-size: 25px;
    padding: 20px;

}

#mainSplash > .buttonDiv {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.buttonDiv > button {
    width: 50%;
    margin-block: 20px;
    padding-block: 15px;
    padding-inline: 15px;
    margin-inline: 50px;
    font-weight: bold;
    border-radius: 999px;
    transition: 0.3s;
    font-size: 24px;
    border: 1px solid #888888;
}

.buttonDiv > button:hover {
    cursor: pointer;
}

#bookNow {
    background-color: #a9b4c2;
}

#bookNow:hover {
    background-color: #eef1ef;
}

#learnMore {
    background-color: white;
}

#learnMore:hover {
    background-color: #eef1ef;
}

.linksSection {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    font-size: 30px;
}

@media (max-width: 500px) {
    .responsiveDiv {
        flex-direction: column;
    }

    .linksSection {
        display: none;
    }

    #mainSplash {
        width: 100%;
        padding: 0;

    }

    #mainSplash > h1 {
        font-size: 4em;
    }

    .imageDiv {
        width: 100%;
    }
}
